<% provide :title, "New Entry" %>
<div class="row">
  <div class="col-sm-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>New Entry</strong>
      </div>
      <div class="panel-body">
        <%= render "form", entry: @entry %>
        <%= link_to "Back", entries_path, class: "btn btn-default"%>
      </div>
    </div>
  </div>
</div>
